mat-card {
  width: 100vh;
  margin:auto;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items:normal; */
  /* height: 1000vh; */
}
textarea {
  display: flex;
  
}
/* button {
  align-items:center;
  width: 40vh;
  margin-left:70vh;
  margin-top: 3vh;
   justify-content: center;

} */